CORE_PORT=3000
CORE_NODE_ENV=development

CORE_DB_HOST=127.0.0.1
CORE_DB_PORT=3306
CORE_DB_USER=core_local
CORE_DB_PASSWORD=GANTI_PASSWORD_LOKAL_ANDA
CORE_DB_NAME=core_local

KEPEGAWAIAN_DB_HOST=127.0.0.1
KEPEGAWAIAN_DB_PORT=3306
KEPEGAWAIAN_DB_USER=kepegawaian_local
KEPEGAWAIAN_DB_PASSWORD=GANTI_PASSWORD_LOKAL_ANDA
KEPEGAWAIAN_DB_NAME=kepegawaian_local

AKADEMIK_DB_HOST=127.0.0.1
AKADEMIK_DB_PORT=3306
AKADEMIK_DB_USER=akademik_local
AKADEMIK_DB_PASSWORD=GANTI_PASSWORD_LOKAL_ANDA
AKADEMIK_DB_NAME=akademik_local

KEUANGAN_DB_HOST=127.0.0.1
KEUANGAN_DB_PORT=3306
KEUANGAN_DB_USER=keuangan_local
KEUANGAN_DB_PASSWORD=GANTI_PASSWORD_LOKAL_ANDA
KEUANGAN_DB_NAME=keuangan_local

ALQURAN_DB_HOST=127.0.0.1
ALQURAN_DB_PORT=3306
ALQURAN_DB_USER=alquran_local
ALQURAN_DB_PASSWORD=GANTI_PASSWORD_LOKAL_ANDA
ALQURAN_DB_NAME=alquran_local

CORE_JWT_SECRET=aldepos_local_jwt_secret_dev_3f8a92bc71de408fa89ef
CORE_JWT_EXPIRES_IN=15m

CORE_JWT_REFRESH_SECRET=aldepos_local_jwt_refresh_dev_982bc47fa10e76cd214
CORE_JWT_REFRESH_EXPIRES_IN=7d

CORE_CORS_ORIGIN=http://localhost:5173

